<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8"/>
    <title>毕业设计管理系统</title>

    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no"/>
    <meta name="apple-mobile-web-app-capable" content="yes"/>
    {include file="public/link" /}
    {css href="/static/css/pages/plans.css" /}
    <!--[if lt IE 9]>
    <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
    <style>
        select {
            width: auto;
            padding-left: 27%;
            margin: 0;
        }

        option {

            text-align: center;

        }


    </style>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
</head>

<body>

{include file="public/header" /}


<div id="content">

    <div class="container">

        <div class="row">

            {include file="public/left" /}


            <div class="span9">

                <h1 class="page-title">
                    <i class="icon-th-large"></i>
                    添加论文
                </h1>
                <div class="row">

                    <div class="span9">

                        <div class="widget">

                            <div class="widget-header">
                                <h3>论文信息</h3>
                            </div> <!-- /widget-header -->

                            <div class="widget-content">

                                <div class="tabbable">
                                    <br/>
                                    <div class="tab-content">
                                        <div class="tab-pane active" id="1">
                                            <form id="edit-profile" class="form-horizontal"
                                                  enctype="multipart/form-data" method="post"/>
                                            <fieldset>
                                                <input type="hidden" name="task_id"
                                                       value="{$task.task_id}">
                                                <div class="control-group">
                                                    <label class="control-label">任务标题</label>
                                                    <div class="controls">
                                                        <input type="text" class="" readonly id="task_name"
                                                               value="{$task.task_name}"
                                                               style="width: 450px"/>
                                                    </div> <!-- /controls -->
                                                </div> <!-- /control-group -->
                                                <div class="control-group">
                                                    <label class="control-label">学生姓名</label>
                                                    <div class="controls">
                                                        <input type="text" class="" readonly
                                                               value="{$article.student.name}"
                                                               style="width: 450px"/>
                                                    </div> <!-- /controls -->
                                                </div> <!-- /control-group -->
                                                <div class="control-group">
                                                    <label class="control-label">任务分数</label>
                                                    <div class="controls">
                                                        <input type="text" class="" readonly
                                                               value="{$task.point}"
                                                               style="width: 450px"/>
                                                    </div> <!-- /controls -->
                                                </div> <!-- /control-group -->
                                                <div class="control-group">
                                                    <label class="control-label">开始时间</label>
                                                    <div class="controls">
                                                        <input type="input" class="" readonly
                                                               value="{$task.start_time|date='Y-m-d',###}"
                                                               style="width: 450px"/>
                                                    </div> <!-- /controls -->
                                                </div> <!-- /control-group -->
                                                <div class="control-group">
                                                    <label class="control-label">结束时间</label>
                                                    <div class="controls">
                                                        <input type="text" readonly
                                                               value="{$task.end_time|date='Y-m-d',###}"
                                                               style="width: 450px"/>
                                                    </div> <!-- /controls -->
                                                </div> <!-- /control-group -->

                                                <div class="control-group">
                                                    <label class="control-label">老师附件</label>
                                                    <div class="controls">
                                                        {if condition='isset($task.teacher_file)'}
                                                        <a style="color: blue;margin-right: 10px"
                                                           href="{$task.teacher_file}">{$task.teacher_file_name}</a>
                                                        {/if}

                                                    </div>
                                                </div>
                                                <div class="control-group">
                                                    <label class="control-label">学生附件</label>
                                                    <div class="controls">
                                                        {if condition='isset($task.student_file)'}
                                                        <a style="color: blue;margin-right: 10px"
                                                           href="{$task.teacher_file}">{$task.student_file_name}</a>
                                                        {/if}

                                                    </div>
                                                </div>
                                                <div class="control-group">
                                                    <label class="control-label">评语:</label>
                                                    <div class="controls">
                                                        {if condition="$task.content eq ''"}
                                                        <textarea type="text" class="" name="content"id="content11"style="width: 450px;height:100px;" ></textarea>
                                                        {else/}
                                                        <p>{$task.content}</p>
                                                        {/if}
                                                    </div>
                                                </div>
                                                <div class="control-group">
                                                    <label class="control-label">评分:</label>
                                                    <div class="controls">
                                                        {if condition="$task.r_point eq ''"}
                                                        <input type="number"max="{$task.point}"min="0" class="" name="r_point"id="r_point"value="" style="width: 450px"/>
                                                        {else/}
                                                        <p>{$task.r_point}</p>
                                                        {/if}
                                                    </div>
                                                </div>
                                                <br/>
                                                {js href="/static/js/ueditor.config.js" /}
                                                <!-- 编辑器源码文件 -->
                                                {js href="/static/js/ueditor.all.min.js" /}
                                                <!-- 实例化编辑器 -->

                                                <div class="form-actions">
                                                    {if condition="$task.r_point eq ''"}
                                                    <button type="submit" id="submit"class="btn btn-primary">提交</button>
                                                    {/if}
                                                    <a  href="{:url('/teacher/task_list',['article_id'=>$task.article_id])}" class="btn btn-primary">返回</a>
                                                </div> <!-- /form-actions -->

                                            </fieldset>
                                            </form>
                                        </div>


                                    </div>

                                </div>
                            </div> <!-- /widget-content -->

                        </div> <!-- /widget -->

                    </div> <!-- /span9 -->

                </div> <!-- /row -->

            </div> <!-- /span9 -->


        </div> <!-- /row -->

    </div> <!-- /container -->

</div> <!-- /content -->

{include file="public/footer" /}

<!-- Le javascript
================================================== -->
<!-- Placed at the end of the document so the pages load faster -->
{js href="/static/js/jquery-1.7.2.min.js" /}
{js href="/static/js/bootstrap.js" /}
{js href="/static/js/laydate.js" /}

<script type="text/javascript">
    laydate.render({
        elem: '#end_time' //指定元素
    });
    laydate.render({
        elem: '#start_time' //指定元素
    });
    var editor;
    $(function () {
        //具体参数配置在  editor_config.js  中
        var options = {
            initialFrameHeight: 250, //初化高度
            initialFrameWidth: 460,
            focus: false, //初始化时，是否让编辑器获得焦点true或false
            maximumWords: 99999, removeFormatAttributes: 'class,style,lang,width,height,align,hspace,valign'
            , //允许的最大字符数 'fullscreen',
            pasteplain: false, //是否默认为纯文本粘贴。false为不使用纯文本粘贴，true为使用纯文本粘贴
            autoHeightEnabled: true,
            topOffset: 0,
            toolbarTopOffset: 0,
            scaleEnabled: true,
            toolbars: [
                [
                    'bold', 'italic', 'underline', /* 'fontborder',
                    'strikethrough', 'superscript', 'subscript',
                    'removeformat', 'formatmatch', 'autotypeset',
                    'blockquote', 'pasteplain', '|', 'forecolor',
                    'backcolor', 'insertorderedlist'*/
                ]
            ]
        };
        editor = new UE.ui.Editor(options);
        editor.render("description");  //  指定 textarea 的  id 为 goods_content

    });
    $('#submit').click(function () {
        var max_point="{$task.point}";
        if($('#content11').val()==''){
            alert('评语不能为空')
            return false
        }
        if($('#r_point').val()>max_point){
            alert('最高分数超过任务分数')
            return false
        }

    })
</script>
</body>
</html>
