<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8"/>
	<title>毕业设计管理系统</title>

	<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no"/>
	<meta name="apple-mobile-web-app-capable" content="yes"/>
	{include file="public/link" /}

	<!-- Le HTML5 shim, for IE6-8 support of HTML5 elements -->
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
</head>
<style>
	.faq-search input {
		width: 96%;
		display: block;
		padding: 2%;
	}

	.faq-search {
		margin-bottom: 2em;
		text-align: right;
	}

	.widget {
		position: relative;
		clear: both;
		width: auto;
		margin-bottom: 2em;
	}


</style>
<body>

{include file="public/header" /}
<div id="content">

	<div class="container">

		<div class="row">

			{include file="public/left" /}


			<div class="span9">

				<h1 class="page-title">
					<i class="icon-th-list"></i>
					留言
				</h1>

				<div class="stat-container">

					{volist name="message_list" id="vo"}

					<div class="widget">

						<div class="widget-content">

							<div class="account-container" style="display: block;overflow: hidden;">

								<div class="account-avatar" style="float: left;">
									{if condition="$vo.type eq 0"}
									<img src="{$vo.teacher_id|get_avatar}" alt="" class="thumbnail">
									{else/}
									<img src="{$vo.student_id|get_avatar}" alt="" class="thumbnail">
									{/if}

								</div> <!-- /account-avatar -->

								<div class="account-details">


                                    <span class="account-role">
                                        {if condition="$vo.type eq 0"}{$vo.teacher_name}{else/}{$vo.student_name}{/if}
                                    </span>

								</div> <!-- /account-details -->
								<div class="account-details" style="float: left;">
									<p style="margin: 0"> {$vo.content}</p>
									<p class="account-role" style="margin: 0">{$vo.create_time|date="Y-m-d
										H:i:s",###}</p>
								</div>

							</div>
						</div>

					</div>
					{/volist}
					<div style="margin: 0 auto;float: right"> {$page}</div>


				</div> <!-- /stat-container -->
				<form  method="post" action="{:url('/teacher/add_message')}" style="clear: both">
					<input type="hidden"name="student_id" value="{$student_id}">
					<div class="control-group" style="">
						<label class="control-label">留言</label>
						<div class="controls" style="" >
							<textarea name="content"style="width: 100%;height: 200px;"></textarea>
						</div>
						<div class="form-actions">
							<button type="submit" class="btn btn-primary">提交</button>
						</div> <!-- /form-actions -->
					</div>
				</form>
			</div> <!-- /span9 -->


		</div> <!-- /row -->

	</div> <!-- /container -->

</div> <!-- /content -->


{include file="public/footer" /}


<!-- Le javascript
================================================== -->
<!-- Placed at the end of the document so the pages load faster -->
{include file="public/js" /}
</body>
</html>
