<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8"/>
    <title>毕业设计管理系统后台</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no"/>
    <meta name="apple-mobile-web-app-capable" content="yes"/>
    {include file="public/link" /}

    <!-- Le HTML5 shim, for IE6-8 support of HTML5 elements -->
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
</head>
<style>
    .faq-search input {
        width: 96%;
        display: block;
        padding: 2%;
    }

    .faq-search {
        margin-bottom: 2em;
        text-align: right;
    }

    .widget {
        position: relative;
        clear: both;
        width: auto;
        margin-bottom: 2em;
    }
</style>
<body>

{include file="public/header" /}
<div id="content">

    <div class="container">

        <div class="row">

            {include file="public/left" /}


            <div class="span9">

                <h1 class="page-title">
                    <i class="icon-home"></i>
                    首页
                </h1>

                <div class="stat-container">
                    <h3>学生管理</h3>
                    <div class="widget widget-table">
                        <form class="faq-search">
                            <input type="text" name="keywords" placeholder="请输入要搜索的学生姓名或者学号">
                        </form>
                        <div class="widget-header">
                            <i class="icon-user"></i>
                            <h3>列表</h3>

                         <!--   <a href="{:url('/admin/add_edit_student')}" class="btn btn-small"
                               style="float: right;margin-right: 25px;margin-top: 5px">
                                添加
                            </a>-->
                            <a href="{:url('/admin/student_import')}" class="btn btn-small"style="float: right;margin-right: 25px;margin-top: 5px">
                                导入
                            </a>
                        </div> <!-- /widget-header -->

                        <div class="widget-content">

                            <table class="table table-striped table-bordered">
                                <thead>
                                <tr>
                                    <th>学号</th>
                                    <th>名字</th>
                                    <th>系别</th>
                                    <th>专业</th>
                                    <th>操作</th>

                                </tr>
                                </thead>

                                <tbody>
                                {foreach name="student" id="vo"}

                                <tr>
                                    <td>{$vo.number}</td>
                                    <td>{$vo.name}</td>
                                    <td>{$vo.major|get_major_name}</td>
                                    <td>{$vo.department|get_department_name}</td>
                                    <td class="action-td">
                                        <a href="{:url('/admin/edit_student',['user_id'=>$vo.user_id])}"
                                           class="btn btn-small btn-warning">
                                           修改密码
                                        </a>

                                        <a href="{:url('/admin/del_student',['user_id'=>$vo.user_id])}"
                                           class="btn btn-small">
                                            删除
                                        </a>
                                    </td>
                                </tr>

                                {/foreach}

                                </tbody>
                            </table>

                        </div> <!-- /widget-content -->
                        <div style="margin: 0 auto;float: right"> {$page}</div>
                    </div>

                </div>

            </div> <!-- /stat-container -->

        </div> <!-- /span9 -->


    </div> <!-- /row -->

</div> <!-- /container -->

</div> <!-- /content -->


{include file="public/footer" /}


<!-- Le javascript
================================================== -->
<!-- Placed at the end of the document so the pages load faster -->
{include file="public/js" /}
</body>
</html>
