<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <title>毕业设计管理系统</title>
    
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
    <meta name="apple-mobile-web-app-capable" content="yes" />
	  {include file="public/link" /}
	  {css href="/static/css/pages/plans.css" /}
    <!--[if lt IE 9]>
      <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
	  <style>
		  select{
			  width: auto;
			  padding-left: 27%;
			  margin: 0;
		  }

		  option{

			  text-align:center;

		  }


	  </style>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8" /></head>

<body>

{include file="public/header" /}



<div id="content">
	
	<div class="container">
		
		<div class="row">

			{include file="public/left" /}
			
			
			
			<div class="span9">
				
				<h1 class="page-title">
					<i class="icon-th-large"></i>
				管理公告
				</h1>
				
				
				<div class="row">
					
					<div class="span9">
				
						<div class="widget">
							
							<div class="widget-header">
								<h3>公告信息</h3>
							</div> <!-- /widget-header -->
									
							<div class="widget-content">
								
								
								
								<div class="tabbable">
						
						<br />
						
							<div class="tab-content">
								<div class="tab-pane active" id="1">
								<form id="edit-profile" class="form-horizontal" method="post"/>
									<fieldset>


										<input type="hidden" name="notice_id" value="{if condition='isset($notice)'}{$notice.notice_id}{/if}">
										<div class="control-group">											
											<label class="control-label" for="title">标题</label>
											<div class="controls">
												<input type="text" class="" name="title"id="title"value="{if condition='isset($notice)'}{$notice.title}{/if}" style="width: 450px"/>
											</div> <!-- /controls -->				
										</div> <!-- /control-group -->


										<div class="control-group">
											<label class="control-label" for="describe">内容</label>
											<div class="controls">
												<textarea type="text" class=""id="describe" name="describe"style="width: 450px;height:100px;" >
													{if condition='isset($notice)'}{$notice.content}{/if}</textarea>
											</div> <!-- /controls -->
										</div> <!-- /control-group -->
										<!--<div class="control-group">
											<label class="control-label" for="model">论文模块</label>
											<div class="controls">
												<textarea type="text" class="" name="model"id="model"style="width: 450px;height:100px;" ></textarea>
											</div> &lt;!&ndash; /controls &ndash;&gt;
										</div> &lt;!&ndash; /control-group &ndash;&gt;
										<div class="control-group">
											<label class="control-label" for="note">论文备注</label>
											<div class="controls">
												<textarea type="text" class="" name="note"id="note"style="width: 450px;height:100px;" ></textarea>
											</div>
										</div>-->
											<br />
										{js href="/static/js/ueditor.config.js" /}
										<!-- 编辑器源码文件 -->
										{js href="/static/js/ueditor.all.min.js" /}
										<!-- 实例化编辑器 -->
											
										<div class="form-actions">
											<button type="submit" class="btn btn-primary">提交</button>
										</div> <!-- /form-actions -->
									</fieldset>
								</form>
								</div>

								
							</div>

						</div>
							</div> <!-- /widget-content -->
							
						</div> <!-- /widget -->
						
					</div> <!-- /span9 -->
					
				</div> <!-- /row -->

			</div> <!-- /span9 -->
			
			
		</div> <!-- /row -->
		
	</div> <!-- /container -->
	
</div> <!-- /content -->


{include file="public/footer" /}


    

<!-- Le javascript
================================================== -->
<!-- Placed at the end of the document so the pages load faster -->
{js href="/static/js/jquery-1.7.2.min.js" /}
{js href="/static/js/bootstrap.js" /}
<script type="text/javascript">

    var editor;
    $(function () {
        //具体参数配置在  editor_config.js  中
        var options = {
            initialFrameHeight: 250, //初化高度
            initialFrameWidth:460,
            focus: false, //初始化时，是否让编辑器获得焦点true或false
            maximumWords: 99999, removeFormatAttributes: 'class,style,lang,width,height,align,hspace,valign'
            , //允许的最大字符数 'fullscreen',
            pasteplain:false, //是否默认为纯文本粘贴。false为不使用纯文本粘贴，true为使用纯文本粘贴
            autoHeightEnabled: true,
            topOffset:0,
            toolbarTopOffset:0,
            scaleEnabled:true,
            toolbars: [
                [
                   'bold', 'italic', 'underline',/* 'fontborder',
                    'strikethrough', 'superscript', 'subscript',
                    'removeformat', 'formatmatch', 'autotypeset',
                    'blockquote', 'pasteplain', '|', 'forecolor',
                    'backcolor', 'insertorderedlist'*/
                  ]
            ]
        };
        editor = new UE.ui.Editor(options);
        editor.render("describe");  //  指定 textarea 的  id 为 goods_content

    });
</script>
  </body>
</html>
