<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <title>毕业设计管理系统</title>
    
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
    <meta name="apple-mobile-web-app-capable" content="yes" />
	  {include file="public/link" /}
	  {css href="/static/css/pages/plans.css" /}
    <!--[if lt IE 9]>
      <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
	  <style>
		  select{
			  width: auto;
			  padding-left: 27%;
			  margin: 0;
		  }

		  option{

			  text-align:center;

		  }
		.controls p{
			margin-top: 4px;
		}
		.control-label{font-size: 14px}
	  </style>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8" /></head>

<body>

{include file="public/header" /}



<div id="content">
	
	<div class="container">
		
		<div class="row">

			{include file="public/left" /}
			
			
			
			<div class="span9">
				
				<h1 class="page-title">
					<i class="icon-th-large"></i>
					管理公告
				</h1>
				
				
				<div class="row">
					
					<div class="span9">
				
						<div class="widget">
							
							<div class="widget-header">
								<h3>公告信息</h3>
							</div> <!-- /widget-header -->
									
							<div class="widget-content">
								
								
								
								<div class="tabbable">
						
						<br />
						
							<div class="tab-content">
								<div class="tab-pane active" id="1">
								<form id="edit-profile" class="form-horizontal" method="post"/>
									<fieldset>
										<input type="hidden" name="article_id" value="{if condition='isset($article)'}{$article.article_id}{/if}">
										<div class="control-group">											
											<label class="control-label">标题:</label>
											<div class="controls">
												<p>{$notice.title}</p>
											</div> <!-- /controls -->

										</div> <!-- /control-group -->


										<div class="control-group">
											<label class="control-label">内容:</label>
											<div class="controls">
												{$notice.content}
											</div> <!-- /controls -->
										</div> <!-- /control-group -->
									</fieldset>
								</form>
								</div>

								
							</div>

						</div>
							</div> <!-- /widget-content -->
							
						</div> <!-- /widget -->
						
					</div> <!-- /span9 -->
					
				</div> <!-- /row -->

			</div> <!-- /span9 -->
			
			
		</div> <!-- /row -->
		
	</div> <!-- /container -->
	
</div> <!-- /content -->


{include file="public/footer" /}


    

<!-- Le javascript
================================================== -->
<!-- Placed at the end of the document so the pages load faster -->
{js href="/static/js/jquery-1.7.2.min.js" /}
{js href="/static/js/bootstrap.js" /}

  </body>
</html>
