<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <title>毕业设计管理系统</title>
    
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
    <meta name="apple-mobile-web-app-capable" content="yes" />
	  {include file="public/link" /}
	  {css href="/static/css/pages/plans.css" /}
    <!--[if lt IE 9]>
      <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
	  <style>
		  select{
			  width: auto;
			  padding-left: 27%;
			  margin: 0;
		  }

		  option{

			  text-align:center;

		  }
		.controls p{
			margin-top: 4px;
		}
		.control-label{font-size: 14px}
	  </style>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8" /></head>

<body>

{include file="public/header" /}



<div id="content">
	
	<div class="container">
		
		<div class="row">

			{include file="public/left" /}
			
			
			
			<div class="span9">
				
				<h1 class="page-title">
					<i class="icon-th-large"></i>
				论文详情
				</h1>
				
				
				<div class="row">
					
					<div class="span9">
				
						<div class="widget">
							
							<div class="widget-header">
								<h3>论文信息</h3>
							</div> <!-- /widget-header -->
									
							<div class="widget-content">
								
								
								
								<div class="tabbable">
						
						<br />
						
							<div class="tab-content">
								<div class="tab-pane active" id="1">
								<form id="edit-profile" class="form-horizontal" method="post"/>
									<fieldset>
										<div class="control-group">											
											<label class="control-label">论文分类:</label>
											<div class="controls">
												<p>{$category.title}</p>
											</div> <!-- /controls -->
										</div> <!-- /control-group -->

										<input type="hidden" name="article_id" value="{if condition='isset($article)'}{$article.article_id}{/if}">
										<div class="control-group">											
											<label class="control-label">论文题目:</label>
											<div class="controls">
												<p>{$article.title}</p>
											</div> <!-- /controls -->

										</div> <!-- /control-group -->


										<div class="control-group">
											<label class="control-label">论文描述:</label>
											<div class="controls">
												{$article.describe}
											</div> <!-- /controls -->
										</div> <!-- /control-group -->

										<div class="control-group">
											<label class="control-label">所选学生:</label>
											<div class="controls">
												<p>{if condition="$article.student_id eq 0"}未选择{else\}{$student.name}{/if}</p>
											</div> <!-- /controls -->
										</div> <!-- /control-group -->
									<!--	<div class="control-group">
											<label class="control-label">进度:</label>
											<div class="controls">
												<p>{$article.schedule}</p>
											</div> &lt;!&ndash; /controls &ndash;&gt;
										</div> &lt;!&ndash; /control-group &ndash;&gt;
										<div class="control-group">
											<label class="control-label">开题报告:</label>
											<div class="controls">
												<p>
													{if condition="$article.proposal neq ''"}
													<a href="{$article.proposal}">{$article.proposal_name}</a>
													{else/}
													未上传
													{/if}
												</p>
											</div> &lt;!&ndash; /controls &ndash;&gt;
										</div>
										<div class="control-group">
											<label class="control-label">论文:</label>
											<div class="controls">
												<p>
													{if condition="$article.thesis neq ''"}
													<a href="{$article.thesis}">{$article.thesis_name}</a>
													{else/}
													未上传
													{/if}
												</p>
											</div> &lt;!&ndash; /controls &ndash;&gt;
										</div>-->
										<!--<div class="control-group">
											<label class="control-label">评语:</label>
											<div class="controls">
												{if condition="$article.content eq ''"}
												<textarea type="text" class="" name="content"style="width: 450px;height:100px;" ></textarea>
												{else/}
												<p>{$article.content}</p>
												{/if}
											</div> &lt;!&ndash; /controls &ndash;&gt;
										</div>
										<div class="control-group">
											<label class="control-label">评分:</label>
											<div class="controls">
												{if condition="$article.point eq ''"}
												<input type="text" class="" name="point"id="point"value="" style="width: 450px"/>
												{else/}
												<p>{$article.point}</p>
												{/if}
											</div> &lt;!&ndash; /controls &ndash;&gt;
										</div>-->

									<!--	{if condition="$article.content eq ''"}
										<div class="form-actions">
											<button type="submit" class="btn btn-primary">提交</button>
										</div>
										{/if}-->
									</fieldset>
								</form>
								</div>

								
							</div>

						</div>
							</div> <!-- /widget-content -->
							
						</div> <!-- /widget -->
						
					</div> <!-- /span9 -->
					
				</div> <!-- /row -->

			</div> <!-- /span9 -->
			
			
		</div> <!-- /row -->
		
	</div> <!-- /container -->
	
</div> <!-- /content -->


{include file="public/footer" /}


    

<!-- Le javascript
================================================== -->
<!-- Placed at the end of the document so the pages load faster -->
{js href="/static/js/jquery-1.7.2.min.js" /}
{js href="/static/js/bootstrap.js" /}

  </body>
</html>
